<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Gallery</a>
  </nav>
  <div class ="row">
    <div class="col-md-4 col-lg-4">
        <div class="card" >
            <img src="../../assets/TS_Hotel_King_lowrez-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
             
             
              
             
            </div>
          </div>
    </div>
    <div class="col-md-4 col-lg-4">
    <div class="card" >
        <img src="../../assets/image10.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        
         
        </div>
      </div>
  </div>
  <div class="col-md-4 col-lg-4">
        <div class="card" >
            <img src="../../assets/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              
              
            </div>
          </div>
    </div>
  
    <div class="col-md-4 col-lg-4">
        <div class="card" >
            <img src="../../assets/hotels-with-family-rooms-popular-with-photos-of-hotels-with-remodelling-fresh-in-ideas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              
            </div>
          </div>
    </div>
  
    <div class="col-md-4 col-lg-4">
        <div class="card" >
            <img src="../../assets/Superior-Room.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              >
            </div>
          </div>
    </div>
  
    <div class="col-md-4 col-lg-4">
        <div class="card" >
            <img src="../../assets/hotelroom.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              
            </div>
          </div>
    </div>
  
  
  </div>
  
