<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Our Rooms</a>
  <button>Add</button>
  <input class="form-control mr-sm-2"
  type="ssearch"
  placeholder="Search"
  aria-label="Search"
  />
</nav>
<div class ="row">
  <div class="col-md-4 col-lg-4">
      <div class="card" >
          <img src="../../assets/TS_Hotel_King_lowrez-1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">R1500 per night</h5>
            <p class="card-text"> Standard King Room 
                1 extra-large double bed</p>
            <a routerLink="/booking" class="btn btn-primary">Book your stay</a>

            
           
          </div>
        </div>
  </div>
  <div class="col-md-4 col-lg-4">
  <div class="card" >
      <img src="../../assets/image10.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">R2500 per night</h5>
        <p class="card-text">Deluxe Queen Room 
            2 double beds</p>
        <a routerLink="/booking" class="btn btn-primary">Book your stay</a>
      </div>
    </div>
</div>
<div class="col-md-4 col-lg-4">
      <div class="card" >
          <img src="../../assets/1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">R2000 per night</h5>
            <p class="card-text">
                Superior Guest Room with Balcony 
               1 extra-large double be.</p>
            <a routerLink="/booking" class="btn btn-primary">Book your stay</a>
          </div>
        </div>
  </div>

  <div class="col-md-4 col-lg-4">
      <div class="card" >
          <img src="../../assets/hotels-with-family-rooms-popular-with-photos-of-hotels-with-remodelling-fresh-in-ideas.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">R2000 per night </h5>
            <p class="card-text">
                 offers comfortable self-catering accommodation in a two-bedroom hotel, .
      
                The apartment has two bedrooms, two bathrooms and a spacious open-plan kitchen and living area. The main bedroom contains a double bed and an en-suite bathroom and the second bedroom contains two single beds, which can be made up as a double bed, and an en-suite bathroom with a shower.
                 Both rooms have built-in cupboards.</p>
            <a routerLink="/booking" class="btn btn-primary">Book your stay</a>
          </div>
        </div>
  </div>

  <div class="col-md-4 col-lg-4">
      <div class="card" >
          <img src="../../assets/Superior-Room.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">R1300 per night</h5>
            <p class="card-text">The hotel is a modern guest suite , perfect for couples and families. The space is comfortable. It is very central, close to major highways and shopping facilities.

                Secure parking space is available should you have a car.We are on site and available for any questions, local knowledge or to lend you anything you may have forgotten.
                
                Enjoy the space and easily experience the great things Manor has to offer:
                .</p>

                


                
            <a routerLink="/booking" class="btn btn-primary">Book your stay</a>
          </div>
        </div>
  </div>

  <div class="col-md-4 col-lg-4">
      <div class="card" >
          <img src="../../assets/hotelroom.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">R2000 per night</h5>
            <p class="card-text">

               our hotel offer A clean comfortable studio apartment with a bedroom, ensuite with bathroom and a small balcony overlooking the park, 
                you have a swimming pool with sitting area, there is a bar where you can buy food and drinks, free wifi in the lobby. The room has a fridge, microwave, plasma TV, kettle, toaster.
                
                There is 24 hours security, orridor has CCTV cameras for your safety.
                
                There is a bar Thatchers which sells food and drink (closed on Sundays), There is a lounge which has a communal TV room. .</p>
            <a routerLink="/booking" class="btn btn-primary">Book your stay</a>
          </div>
        </div>
  </div>


</div>
